{{!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> --}}
<!------ Include the above in your HEAD tag ---------->


    <div class="panel panel-default">
        <div class="panel-heading"><h5>Upload Pictures of your Pet</h5></div>
        <div class="panel-body">
                <div class="form-inline my-2 align-items-end">
                    <input type="file" name="files" id="js-upload-files" class="input-file" multiple>
                    <label for="js-upload-files" class="btn btn-primary btn--upload-file p-2 mr-2 mb-0">
                        <i class="fas fa-upload"></i>
                        <span class="js-fileName">Choose a file</span>
                    </label>
                    <small>Select files from your computer</small>
                </div>
            <!-- Drop Zone -->
            <div class="upload-drop-zone" id="drop-zone">
                Or just drag and drop files here
            </div>
        </div>
    </div>
