<div class="btn-group btn-group-lg mx-auto mb-3" role="group" aria-label="Select alert type">
	<label class="btn btn-primary active" for="missing">
		Missing
	</label>
	<label class="btn btn-success" for="found">
		Found
	</label>
</div>
<input class="radio-hide" type="radio" name="alertType" id="missing" value="missing" />

<input class="radio-hide" type="radio" name="alertType" id="found" value="found" />