{{#extend "layout" page="about"}}
{{#content "main"}}
<div class="container">
    <article class="text-justify">
        <h1>About us</h1>
        <h3>Who we are</h3>
        <p>Bacon ipsum dolor amet ham hock salami filet mignon ball tip. Meatball alcatra ground round andouille kevin fatback
        picanha. Corned beef leberkas bacon pastrami salami t-bone buffalo pork chop. Drumstick ham hock frankfurter pork
        corned beef cow beef ribs chuck.</p>
        <p>Strip steak shankle hamburger, bacon venison cow prosciutto boudin doner ham drumstick pork short loin pastrami
        fatback. Pastrami sirloin meatloaf pork loin, hamburger tongue jowl swine tail ball tip tri-tip ground round fatback.
        Pig ribeye prosciutto tail alcatra. Ribeye ground round jerky, frankfurter hamburger tri-tip shank fatback swine
        meatball chicken ham.</p>
        <h3>What we do</h3>
        <p>Burgdoggen hamburger turkey, sausage short loin turducken fatback swine flank. Cow shankle fatback turkey cupim
        meatball short loin frankfurter alcatra bresaola rump jerky. Kielbasa bacon rump drumstick sausage pork strip steak
        kevin, flank short loin prosciutto salami pancetta pastrami. Ball tip leberkas shank cow short ribs beef ribs turducken
        tongue, pancetta meatball. Tenderloin bresaola pork belly picanha tri-tip pork turkey doner shank andouille leberkas
        jerky tongue salami beef. Pastrami t-bone spare ribs beef ribs pork loin turducken. Doner sirloin cow, fatback ribeye
        alcatra strip steak turducken pastrami buffalo.</p>
        <p>Biltong picanha jowl, short ribs cow turducken pancetta beef porchetta shank ground round kielbasa tenderloin sirloin
        fatback. Beef turducken short ribs turkey swine chicken doner t-bone landjaeger shoulder. T-bone kielbasa short ribs
        pork belly beef. Shank venison meatball tri-tip picanha sausage andouille pork tongue strip steak turkey capicola bacon
        rump swine. Capicola filet mignon short loin, boudin t-bone cupim kevin pancetta buffalo bresaola chicken beef venison.</p>
        <p>Picanha sirloin doner chuck, pork rump short loin landjaeger drumstick pork chop jowl turducken capicola hamburger
        beef. Strip steak doner pork chop kielbasa shank. Picanha turducken tail pork loin corned beef, tri-tip ham short loin
        ground round landjaeger ball tip t-bone pig shoulder ribeye. Kevin frankfurter jowl turducken venison kielbasa pork
        belly tri-tip capicola meatball. Doner meatball ball tip jowl shank strip steak burgdoggen cupim turkey tri-tip.</p>
        <h3>How you can help</h3>
        <p>Sed cupim frankfurter pork belly culpa excepteur cow sint. Sirloin swine incididunt hamburger dolor irure corned beef
        ribeye. Anim porchetta elit burgdoggen frankfurter dolore. Ut eu spare ribs burgdoggen ground round. Beef ribs alcatra
        jerky ground round. Alcatra esse ground round labore reprehenderit kielbasa. Cow dolore turducken in quis venison.</p>
        <p>Cillum occaecat drumstick deserunt, jerky anim chuck velit beef ribs pig cupidatat doner. Nostrud ham hock dolore, ut
        boudin enim ea. Chuck chicken brisket rump exercitation. Elit bresaola aliquip, filet mignon corned beef in
        adipisicing. Deserunt flank ex brisket meatball swine sint t-bone in.</p>
        <h3>Contact us</h3>
        <p>Need help? Or want to help? For any enquiry please <a href="mailto: illustrova@gmail.com">send us an email</a>. We will get back to you as soon as we can</p>
    </article>
</div>
{{/content}}
{{/extend}}